<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="db_folder_name" value="db" />                       <!-- папка для зберігання файлів бази даних -->
      <add key="db_file_name" value="dbHRD.db" />                   <!-- назва файлу поточної бази даних -->
      <add key="db_file_name_def" value="dbHRD.db" />               <!-- назва файлу бази даних за замовчуванням -->
      <add key="db_file_name_empty" value="dbHRD_empty.db" />       <!-- назва файлу пустої бази даних -->
      <add key="img_photo_path_def" value="img_photo_default" />    <!-- шлях до папки із зображеннями для фото за замовчуванням -->
      <add key="img_photo_path_usr" value="img_photo_user" />       <!-- шлях до папки із зображеннями для фото користувача -->
      <add key="img_path_photo_def" value="images/no_photo.png" />  <!-- шлях до файлу зображення для користувача за замовчування -->
    </appSettings> 
</configuration>