<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="db_folder_name" value="db" />
        <add key="db_file_name" value="dbHRD_13.08.2021_20-39-52.db" />
        <add key="db_file_name_def" value="dbHRD.db" />
        <add key="db_file_name_empty" value="dbHRD_empty.db" />
        <add key="img_photo_path_def" value="img_photo_default" />
        <add key="img_photo_path_usr" value="img_photo_user" />
        <add key="img_path_photo_def" value="images/no_photo.png" />
    </appSettings> 
</configuration>